<%= link_to @post.user.name, user_post_path(@post.user) %>
<% if @post.user.followers.where(follower: current_user).present? && @post.user != current_user %>
  |
  <%= link_to 'Unfollow', follow_user_path(@post.user), method: :post %>
<% elsif @post.user != current_user %>
  |
  <%= link_to 'Follow', follow_user_path(@post.user), method: :post %>
<% end %>
<% if @post.repost_id.present? %>
  shared from
  <%= link_to @post.repost.user.name, user_post_path(@post.repost.user) %>
<% end %>
<% if @post.user == current_user %>
  | <%= link_to 'Hapus Postingan', post_path(@post), method: :delete, data: { confirm: "Are You Sure?" } %>
  <% if Archive.get_archived_post(current_user).pluck(:post_id).include?(@post.id) %>
    | <%= link_to 'Batal Arsipkan', archive_path(@post.archives.find_by(post: @post, status: :archive)), method: :delete, data: { confirm: "Are You Sure?" } %>
  <% else %>
    | <%= link_to 'Arsipkan', archive_post_path(@post), method: :put %>
  <% end %>
<% end %>
<% if user_signed_in? %>
  <% if Archive.get_saved_post(current_user).pluck(:post_id).include?(@post.id) %>
    | <%= link_to 'Batal Simpan', archive_path(@post.archives.find_by(user: current_user)), method: :delete, data: { confirm: "Are You Sure?" } %>
  <% else %>
    | <%= link_to 'Simpan', save_post_path(@post), method: :post %>
  <% end %>
<% end %>
<br>
<!-- jika repost -->
<% if !@post.is_archived || @post.user == current_user %>
  <% if @post.repost.present? %>
    <% if @post.repost.is_archived %>
      Postingan tidak tersedia
      <br>
    <% else %>
      <% @post.repost.file_post.each do |f| %>
        <%= image_tag(f.url, width: "350", height: "250") %>
      <% end %>
      <br>
      <%= @post.repost.caption %>
      <% if @post.repost.caption.length >=10 %>
        <%= link_to "Lainnya", post_path(@post.id) %>
      <% end %>
      <br>
    <% end %>
    <!-- jika bukan -->
  <% else %>
    <% @post.file_post.each do |f| %>
      <%= image_tag(f.url, width: "350", height: "250") %>
    <% end %>
    <br>
    <%= @post.caption %>
    <br>
  <% end %>
  <% if @post.repost.blank? || !@post.repost.is_archived %>
    <%= link_to "#{pluralize(@post.get_likes.size, 'Like')}", like_toggle_post_path(@post), method: :put %>
    <% if @post.repost_id.blank? && !@post.is_archived %>
      |
      <%= link_to "Bagikan", repost_post_path(@post), method: :post %>
    <% end %>
    <br>
    <% if @post.votes_for.up.voters.present? %>
      disukai oleh
      <% if @post.votes_for.up.voters.length == 1 %>
        <%= @post.votes_for.up.voters.first.name %>
      <% elsif @post.votes_for.up.voters.length == 2 %>
        <%= @post.votes_for.up.voters.pluck(:name).to_sentence(two_words_connector: " dan ") %>
      <% elsif @post.votes_for.up.voters.length > 2 %>
        <%= @post.votes_for.up.voters.pluck(:name)[0..1].to_sentence(two_words_connector: " dan ") %>
        dan lainnya
      <% end %>
    <% end %>
  <% end %>
<% else %>
  Postingan tidak tersedia
  <br>
<% end %>
<% if user_signed_in? %>
  <%= form_for @comment, url: post_comments_path(@post.id) do |f| %>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
    <br>
    <%= f.submit 'Submit' %>
  <% end %>
<% end %>
<% if @post.comments.present? %>
  <h4>Komentar</h4>
  <% @post.comments.each do |comment| %>
    <% if comment.reply_id.present? == false %>
      Name: <%= comment.user.name %>
      <br>
      Comment: <%= comment.comment %>
      <br>
      <%= form_for @comment, url: reply_post_comment_path(@post, comment) do |f| %>
        <%= f.text_area :comment %>
        <br>
        <%= f.submit 'Reply' %>
      <% end %>
      <br>
      <% if comment.replies.present? %>
        replies: <br>
        <% comment.replies.each do |reply| %>
          Name: <%= reply.user.name %>
          <br>
          Comment: <%= reply.comment %>
          <br>
        <% end %>
      <% end %>
      ======
      <br>
    <% end %>
  <% end %>
<% end %>
<hr>
