<%= link_to @post.user.name, user_post_path(@post.user) %>
<br>
<% @post.file_post.each do |f| %>
	<%= image_tag(f.url, width: "350", height: "250") %>
<% end %>
<br>
<%= @post.caption %>
<hr>

<%= form_for @comment, url: post_comments_path(@post.id) do |f| %>
	<%= f.label :comment %>
	<%= f.text_area :comment %>
	<br>
	<%= f.submit 'Submit' %>
<% end %>

<% if @post.comments.present? %>
	<h4>Komentar</h4>
	<% @post.comments.each do |comments| %>
		Name: <%= comments.user.name %>
		<br>
		Comment: <%= comments.comment %>
		<br>
	<% end %>
<% end %>
<br>